<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Full Stack Demo</title>
</head>

<body>
  <nav>
    <a href="/">Home</a> |
    {{#if user}}
    {{user.email}} |
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
    {{/if}}
  </nav>

  {{{ body }}}

  <footer>
    &copy; 2019
  </footer>
</body>

</html>